<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%=render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <section class="micropost_form">
                <%=render 'shared/micropost_info' %>
            </section>

        </aside>
        <div class="col-md-8">
            <h3>Micropost Feed</he>
            <%= render 'shared/feed' %>

        </div>    
    </div>


<% else %>
    <div class="center jumbotron">
      <h1>Welcome to the Blog-System</h1>

      <h2>
        This is the home page for the Blog-system
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <div class="col-md-8">
            <h3>Micropost Feed</he>
            <%= render 'shared/feed' %>

    </div>  
    
<% end %>
