<li id="comment-<%= comment.id %>">
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <span class="user"><%= link_to comment.user.name, comment.user %> </span>
    <span class="content">
        <%= comment.content %>
    </span>
    <span class="timestamp">
        Commented <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
</li>