<% if logged_in? %>
<%= @user.name %>, <%= @user.email %>
<% end %>
<div class = "row">
    <% if logged_in? %>
    	<aside class = "col-md-4">
    		<section class="user_info">
                    <%=render 'shared/user_info' %>
                </section>
            <section class = "stats">
                <%= render 'shared/stats'%>
            </section>

    	</aside>
    <% end %>
    <div class="col-md-8">

        <ol class="microposts">
            <%= render @micropost %>
        </ol>
        
        
    <% if logged_in? %>
        <%= form_for ([@micropost, @comment]) do |f| %>
            <%= f.text_field :content %>
            <%= f.submit "Add comment" %>
        <% end %>
    <% end %>
        <h4>Comments</h4>
        <% if @comments.any? %>
        	<ol class="comments">
    			<%= render @comments %>
    		</ol>
            <%= will_paginate @comments %>
        <% end %>
    </div>
</div>