<footer class="footer">
  <small>
    The <%= link_to "Blog-system", root_path%>
    by Nguyen Ngo Dinh
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>